body {
  background-color: #d8dce1;
  margin: 0;
  padding: 0;
}

.header {
  width: 1920px;
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #043873;
}

.header-logo {
  display: flex;
  width: 191px;
  height: 34px;
  align-items: center;
  justify-content: space-between;
  padding-left: 220px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-logo img {
  width: 37px;
  height: 29px;
}

.header-logo p {
  width: 144px;
  height: 34px;
  color: #ffffff;
  font-weight: bold;
  font-size: 28px;
  font-family: "Inter", sans-serif;
}

.header-logo img {
  height: 24px;
}

.nav-bar {
  padding-right: 220px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 988.5px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: space-between;
}

.header-items {
  display: flex;
  gap: 32px;
  width: 551.5px;
  height: 24px;
  /* align-items: center; */
}

.header-items-inner {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
  width: 177px;
  height: 24px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
}

.header-items-inner img {
  width: 29px;
  height: 24px;
}

.header-buttons {
  display: flex;
  width: 377px;
  height: 60px;
  gap: 24px;
}

.login-button {
  background-color: #ffe492;
  text-align: center;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 16px 40px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: #043873;
}

.whitepace-button {
  border: none;
  display: flex;
  width: 227px;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  border-radius: 8px;
  background-color: #4f9cf9;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.whitepace-button img {
  max-width: 10px;
  max-height: 10px;
}

/* below header box and blank box */
.container {
  border: none;
  background: #043873;
  width: 1920px;
  height: 829px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box {
  display: flex;
  flex-direction: column;
  width: 656px;
  height: 361px;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 656px;
  height: 238px;
}

.box1 h2 {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  width: 656px;
  height: 154px;
  font-size: 64px;
  font-weight: 700;
  margin: 0;
}

.box1 p {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  width: 656px;
  height: 60px;
  font-size: 18px;
  font-weight: 400;
}

.box2 {
  display: flex;
  align-items: flex-end;
  width: 656px;
  height: 123px;
}

.box2 button {
  display: flex;
  gap: 10px;
  border: none;
  justify-content: center;
  align-items: center;
  width: 219px;
  height: 63px;
  border-radius: 8px;
  background-color: #4f9cf9;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.box2 img {
  max-width: 10px;
  max-height: 10px;
}

.blank-space {
  background-color: #c4defd;
  width: 824px;
  height: 549px;
}

.container2 {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  width: 1920px;
  height: 1588px;
  background-color: #ffffff;
  padding: 140px 220px;
  box-sizing: border-box;

  .container2-mainBox {
    width: 1480px;
    height: 547px;
    display: flex;

    .container2-box {
      width: 732px;
      height: 547px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .container2-box-innerBox {
        width: 672px;
        height: 411px;

        h1 {
          font-size: 72px;
          font-weight: 700;
          font-family: "Inter", sans-serif;
          width: 672px;
          height: 174px;
        }

        p {
          font-size: 18px;
          font-weight: 400;
          font-family: "Inter", sans-serif;
          width: 672px;
          height: 90px;
        }
      }

      button {
        width: 201px;
        height: 63px;
        border-radius: 6px;
        display: flex;
        gap: 10px;
        border: none;
        background-color: #4f9cf9;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
        font-family: "Inter", sans-serif;

        img {
          display: flex;
          color: #ffffff;
          width: 14px;
          height: 14px;
        }
      }
    }

    .container2-blankSpace {
      width: 748px;
      height: 547px;
      background-color: #c4defd;
    }
  }

  .container2-mainBox2 {
    display: flex;
    width: 1480px;
    height: 661px;

    .container2-mainBox2-design {
      width: 710px;
      height: 661px;
    }

    .container2-mainBox2-box {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      width: 770px;
      height: 661px;
      margin-left: 100px;
      padding-top: 183.5px;
      padding-bottom: 183.5px;
      gap: 24px;

      .container2-mainBox2-box-inner {
        h1 {
          margin: 0 !important;
          width: 670px;
          height: 87px;
          font-size: 72px;
          font-weight: 700;
          color: #212529;
          font-family: "Inter", sans-serif;
        }

        p {
          width: 670px;
          height: 60px;
          font-size: 18px;
          font-weight: 400;
          color: #212529;
          font-family: "Inter", sans-serif;
        }

        button {
          margin-top: 60px;
          display: flex;
          align-items: flex-end;
          width: 186px;
          gap: 10px;
          border: none;
          height: 63px;
          justify-content: center;
          align-items: center;
          background: #4f9cf9;
          color: #ffffff;
          border-radius: 6px;

          img {
            color: #ffffff;
            width: 14px;
            width: 14px;
          }
        }
      }
    }
  }
}

/* container 3 */
.container3 {
  display: flex;
  width: 1920px;
  height: 759px;
  background-color: #043873;
  padding: 140px 220px;
  box-sizing: border-box;

  .container3-mainBox {
    display: flex;
    gap: 97px;
    width: 1480px;
    height: 479px;
    align-items: center;

    .container3-mainBox-Box1 {
      width: 697px;
      height: 294px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .innerBox {
        display: flex;
        flex-direction: column;
        gap: 24px;

        h1 {
          margin: 0 !important;
          line-height: 87px;
          font-size: 72px;
          font-weight: 700;
          color: #ffffff;
          font-family: "Inter", sans-serif;
        }

        p {
          line-height: 30px;
          font-size: 18px;
          font-weight: 400;
          color: #ffffff;
          font-family: "Inter", sans-serif;
        }
      }

      button {
        display: flex;
        width: 171px;
        height: 63px;
        gap: 10px;
        border: none;
        justify-content: center;
        align-items: center;
        background: #4f9cf9;
        color: #ffffff;
        border-radius: 6px;

        img {
          color: #ffffff;
          width: 14px;
          width: 14px;
        }
      }
    }

    .container3-mainBox-Box2 {
      width: 686px;
      height: 479px;
      background-color: #c4defd;
    }
  }
}

/* container 4 */
.container4 {
  display: flex;
  width: 1920px;
  height: 812.09px;
  padding: 140px 220px;
  box-sizing: border-box;
  background-color: #ffffff;

  .mainBox {
    display: flex;
    gap: 97px;
    height: 532.09px;
    align-items: center;

    .empty-box {
      width: 714px;
      height: 532.09px;
      background-color: #c4defd;
    }

    .Box1 {
      width: 669px;
      height: 411px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .innerBox {
        display: flex;
        height: 288px;
        width: 669px;
        flex-direction: column;
        justify-content: space-between;

        h1 {
          margin: 0 !important;
          height: 174px;
          font-size: 72px;
          font-weight: 700;
          color: #212529;
          font-family: "Inter", sans-serif;
        }

        p {
          margin: 0 !important;
          height: 90px;
          font-size: 18px;
          font-weight: 400;
          color: #212529;
          font-family: "Inter", sans-serif;
        }
      }

      button {
        display: flex;
        width: 171px;
        height: 63px;
        gap: 10px;
        border: none;
        justify-content: center;
        align-items: center;
        background: #4f9cf9;
        color: #ffffff;
        border-radius: 6px;

        img {
          color: #ffffff;
          width: 14px;
          width: 14px;
        }
      }
    }
  }
}

/* container 5 */
.container5 {
  width: 1920px;
  height: 1272px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 140px 220px;
  gap: 60px;

  .mainBox1 {
    display: flex;
    flex-direction: column;
    width: 1480px;
    gap: 24px;
    height: 171px;

    .mainBox1-box1 {
      display: flex;
      justify-content: center;
      width: 1480px;
      height: 87px;

      h1 {
        margin: 0 !important;
        font-size: 72px;
        font-weight: 700;
        color: #212529;
        font-family: "Inter", sans-serif;
      }
    }

    .mainBox1-box2 {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 1480px;
      height: 84px;

      p {
        text-align: center;
        width: 979px;
        height: 60px;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -2%;
        color: #212529;
        font-family: "Inter", sans-serif;
      }
    }
  }

  .mainBox2 {
    width: 1480px;
    height: 761px;
    background-color: red;
  }
}

/* container 6 */
.container6 {
  width: 1920px;
  height: 574px;
  display: flex;
  flex-direction: column;
  padding: 140px 220px;
  box-sizing: border-box;
  background-color: #043873;

  .mainBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1480px;
    height: 294px;

    .mainbox1 {
      width: 1480px;
      height: 171px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 24px;

      .mainBox1-box1 {
        width: 1480px;
        display: flex;
        justify-content: center;
        height: 87px;

        h1 {
          margin: 0 !important;
          font-size: 72px;
          font-weight: 700;
          color: #ffffff;
          letter-spacing: -2%;
          font-family: "Inter", sans-serif;
        }
      }

      .mainBox1-box2 {
        display: flex;
        justify-content: center;
        height: 60px;

        p {
          text-align: center;
          width: 1064px;
          font-size: 18px;
          letter-spacing: -2%;
          font-weight: 400;
          color: #ffffff;
          font-family: "Inter", sans-serif;
        }
      }
    }

    .mainbox2 {
      button {
        display: flex;
        width: 171px;
        height: 63px;
        gap: 10px;
        border: none;
        justify-content: center;
        align-items: center;
        background: #4f9cf9;
        color: #ffffff;
        border-radius: 6px;

        img {
          color: #ffffff;
          width: 14px;
          width: 14px;
        }
      }
    }
  }
}

/* container 7 */

.container7 {
  display: flex;
  width: 1920px;
  background-color: #ffffff;
  height: 661.13px;
  box-sizing: border-box;
  padding: 140px 220px;

  .container7-mainBox {
    display: flex;
    width: 1480px;
    height: 381.13px;

    .container7-leftBox {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .container7-leftBox-innerBox1 {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 800px;
        .container7-le-innerBox1 {
          h1 {
            margin: 0 !important;
            height: 87px;
            font-size: 72px;
            font-weight: 700;
            color: #212529;
            letter-spacing: -2%;
            font-family: "Inter", sans-serif;
          }
        }

        .container7-le-innerBox2 {
          height: 90px;
          p {
            font-weight: 400;
            font-size: 18px;
            font-weight: 400;
            color: #212529;
            font-family: "Inter", sans-serif;
          }
        }
      }
    }

    .container7-leftBox-innerBox2 {
      button {
        display: flex;
        width: 197px;
        height: 63px;
        gap: 10px;
        border: none;
        justify-content: center;
        align-items: center;
        background: #4f9cf9;
        color: #ffffff;
        border-radius: 8px;

        img {
          color: #ffffff;
          width: 14px;
          width: 14px;
        }
      }
    }
    .container7-rightBox {
      height: 381.13px;
      width: 680px;
    }
  }
}

/* contianer 8 */
.container8 {
  width: 1920px;
  height: 538px;
  display: flex;
  padding: 140px 220px;
  box-sizing: border-box;
  background-color: #ffffff;

  .container8-mainBox {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 1480px;
    height: 258px;
    .container8-mainBox-box1 {
      height: 87px;
      h1 {
        text-align: center;
        margin: 0 !important;
        height: 87px;
        font-size: 72px;
        font-weight: 700;
        color: #212529;
        letter-spacing: -2%;
        font-family: "Inter", sans-serif;
      }
    }
    .container8-mainBox-box2 {
      display: flex;
      height: 71px;
      justify-content: space-between;
      .container8-item1 {
        width: 55.47px;
        height: 68px;
      }
      .container8-item2 {
        width: 287px;
        height: 62px;
      }
      .container8-item3 {
        width: 280px;
        height: 71px;
      }
      .container8-item3 {
        width: 211px;
        height: 69.81px;
      }
    }
  }
}

.container9 {
  width: 1920px;
  height: 750.8px;
  display: flex;
  gap: 100px;
  padding: 140px 220px;
  background-color: #043873;
  box-sizing: border-box;
  .container9-item1 {
    width: 582px;
  }
  .container9-item2 {
    display: flex;
    flex-direction: column;
    width: 798px;
    justify-content: space-between;
    .container9-item2-innerBox {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h1 {
        color: #ffffff;
        margin: 0 !important;
        height: 261px;
        font-size: 72px;
        font-weight: 700;
        letter-spacing: -2%;
        font-family: "Inter", sans-serif;
      }
      p {
        height: 60px;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -2%;
        color: #ffffff;
        font-family: "Inter", sans-serif;
      }
    }
    button {
      display: flex;
      width: 194px;
      height: 63px;
      gap: 10px;
      border: none;
      justify-content: center;
      align-items: center;
      background: #4f9cf9;
      color: #ffffff;
      border-radius: 8px;

      img {
        color: #ffffff;
        width: 14px;
        width: 14px;
      }
    }
  }
}

/* container10 */
.container10 {
  background-color: #ffffff;
  width: 1920px;
  height: 994.46px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 140px 220px;
  box-sizing: border-box;
  .container10-item1 {
    display: flex;
    justify-content: center;
    height: 84px;
    h1 {
      text-align: center;
      margin: 0 !important;
      color: #212529;
      font-size: 72px;
      font-weight: 700;
      letter-spacing: -2%;
      font-family: "Inter", sans-serif;
    }
  }
  .container10-item2 {
    background-color: red;
    height: 498.46px;
  }
}

/* container11 */
.container11 {
  border: none;
  display: flex;
  background-color: #043873;
  width: 1920px;
  box-sizing: border-box;
  padding: 140px 32px 656px 656px;
  height: 705px;
  .container11-item1 {
    width: 608px;
    height: 262px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      text-align: center;
      height: 174px;
      margin: 0 !important;
      color: #ffffff;
      font-size: 72px;
      font-weight: 700;
      letter-spacing: -2%;
      font-family: "Inter", sans-serif;
      padding-bottom: 24px;
    }
    p {
      margin: 0px !important;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -2%;
      color: #ffffff;
      font-family: "Inter", sans-serif;
    }
    .para-center {
      text-align: center;
    }
  }
  button {
    margin: 40px 195px;
    display: flex;
    width: 218px;
    height: 59px;
    gap: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    background: #4f9cf9;
    color: #ffffff;
    border-radius: 10px;

    img {
      color: #ffffff;
      width: 14px;
      width: 14px;
    }
  }
  p {
    text-align: center;
    margin: 0px 120px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -2%;
    color: #ffffff;
    font-family: "Inter", sans-serif;
  }
  .container11-item-icons {
    margin: 40px 0px 174px 174px;
    width: 260px;
    height: 60px;
    display: flex;
    gap: 40px;
  }
}

/* container 12 */
.container12 {
  border: none;
  background-color: #043873;
  width: 1920px;
  height: 474px;
  padding: 140px 220px 32px 220px;
  box-sizing: border-box;

  .container12-mainBox {
    display: flex;
    flex-direction: column;
    width: 1480px;
    height: 302px;
    justify-content: space-between;

    .container12-mainBox1 {
      width: 1480px;
      height: 182px;
      display: flex;
      justify-content: space-between;

      .mainBox1-item1 {
        width: 240px;
        height: 182px;
        gap: 15px;
        display: flex;
        flex-direction: column;

        .whitepace-img {
          margin: 0 !important;
          height: 34px;
          line-height: 100%;
          display: flex;
          gap: 10px;
          display: flex;
          color: #ffffff;
          font-size: 28px;
          font-weight: 700;
          letter-spacing: 0%;
          font-family: "Inter", sans-serif;
          img {
            width: 37px;
            height: 29px;
          }
        }
        p {
          height: 120px;
          margin: 0 !important;
          color: #ffffff;
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: -2%;
          font-family: "Inter", sans-serif;
        }
      }
      .mainBox-item-common {
        .bold {
          a {
            font-weight: 700;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: -2%;
            color: #ffffff;
            font-family: "Inter", sans-serif;
          }
        }
        p {
          a {
            margin: 15px 0px;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -2%;
            color: #ffffff;
            font-family: "Inter", sans-serif;
          }
        }
      }
      .mainBox5-item5 {
        width: 259px;
        height: 182px;
        display: flex;
        flex-direction: column;
        color: #ffffff;
        h1 {
          margin: 0px !important;
          height: 36px;
          font-weight: 700;
          font-size: 28px;
          line-height: 38px;
          letter-spacing: -2%;
          color: #ffffff;
          font-family: "Inter", sans-serif;
        }
        p {
          margin: 23px 0px 23px 0px;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: -2%;
          color: #ffffff;
          font-family: "Inter", sans-serif;
        }
        button {
          display: flex;
          padding: 20px 40px;
          width: 186px;
          height: 60px;
          gap: 10px;
          border: none;
          justify-content: center;
          align-items: center;
          background: #4f9cf9;
          color: #ffffff;
          border-radius: 8px;

          img {
            color: #ffffff;
            width: 14px;
            width: 14px;
          }
        }
      }
    }
    .line {
      border: 1px solid #2E4E73;
    }
    .container12-mainBox2 {
      display: flex;
      width: 1480px;
      height: 20px;
      justify-content: space-between;

      .mainBox2-left {
        display: flex;
        gap: 60px;
        .english {
          display: inline-flex;
          align-items: center;
          gap: 5px; /* space between globe, text, arrow */
          text-decoration: none;
          color: #ffffff;
          font-size: 16px;
          .icon {
            width: 19px; /* adjust icon size */
            height: 19px;
          }
          .arrow {
            width: 20px;
            height: 14px;
          }
          .english span {
            width: 53px;
            height: 20px;
            display: inline-block;
          }
        }
        a {
          color: #ffffff;
        }
      }
      .mainBox2-right {
        display: flex;
        color: #ffffff;
        gap: 32px;
        .item1 {
          width: 9px;
          height: 16.68px;
        }
        .item2 {
          width: 17px;
          height: 13.81px;
        }
        .item3 {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
